<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
    <vendor>Developer Assistant</vendor>
    <action id="org.fedoraproject.devassistant.read">
        <_description>Package installation by YUM</_description>
        <_message>Authentication is required to install packages by YUM</_message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.imply">org.fedoraproject.devassistant.write</annotate>
    </action>
    <action id="org.fedoraproject.devassistant.write">
        <_description>Devassistant httpd configuration</_description>
        <_message>Authentication is required to update httd configuration</_message>
        <defaults>
            <allow_any>auth_admin_keep</allow_any>
            <allow_inactive>auth_admin_keep</allow_inactive>
            <allow_active>auth_admin_keep</allow_active>
        </defaults>
    </action>
</policyconfig>
